@page
@using Microsoft.AspNetCore.Components.Web
@using CobraMotors.WebSite.Models
@using CobraMotors.Services
@using CobraMotors.Components
@using System.Data.SqlClient
@using CobraMotors.WebSite.Pages
@inject JsonFileProductService ProductService
@model CobraMotors.WebSite.IndexModel
@{ViewData["Title"] = "Index";

}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<div class="card-columns">
    @foreach (var product in ProductService.GetProducts())
    {
        <div class="card">
            <div class="card-img" style="background-image: url('@product.Image');">
            </div>
            <div class="card-body">
                <h5 class="card-title">@product.Title</h5>
            </div>
            <div class="card-footer">
                <small class="text-muted">

                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#displayModal">More Details</button>

                    <!-- Modal -->
                    <div class="modal fade" id="displayModal" role="dialog">
                        <div class="modal-dialog">
                            <div class="container">
                                <img src="https://res.cloudinary.com/dcmdigkqy/image/upload/v1594548021/103253787_130013112050109_9086874792112093337_n_gdgplq.jpg" width="200" height="200">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Make and Model</h4>
                                    </div>
                                    <div class="modal-body">
                                        <h4 class="modal-title">Price</h4>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </small>
            </div>
            
        </div>
    }




    @(await Html.RenderComponentAsync<ProductList>(RenderMode.ServerPrerendered)){
    }

<script src="_framework/blazor.server.js"></script>
@{
    Product selectedProduct;
    string selectedProductId;

    void SelectProduct(string productId)
    {
        selectedProductId = productId;
        selectedProduct = ProductService.GetProducts().First(x => x.Id == productId);
    }
}