<!DOCTYPE html>
<html>
<body>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=2.0" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
        <link rel="stylesheet" href="~/css/site.css" />
        <link href="https://fonts.googleapis.com/css?family=Yellowtail&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
       

        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light"style=" background-color: #FFFFFF;">
                <a class="navbar-brand" asp-area="" asp-page="/Index">
                    <img src="https://res.cloudinary.com/dcmdigkqy/image/upload/v1594548021/103253787_130013112050109_9086874792112093337_n_gdgplq.jpg" alt="Girl in a jacket" width="200" height="200"></a>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            <a class="nav-item nav-link active" href="#">
                                <a class="sublinks">
                                </a>
                            </a>
                </a>
                        <a class="nav-item nav-link" href="#"> <a class="sublinks"> <a class="navbar-brand" asp-area="" asp-page="/Shop/BuyProduct">Buy &nbsp</> </> </a></a>
                        <a class="nav-item nav-link" href="#"><a class="sublinks"> <a class="navbar-brand" asp-area="" asp-page="/Shop/SellProduct">Sell &nbsp; </a></a></a>
                        <a class="nav-item nav-link" href="#"> <a class="sublinks"><a class="navbar-brand" asp-area="" asp-page="/Contact/ContactUs">Contact Us &nbsp;</a> </a></a>
                    </div>
                </div>

            </nav>
            <div class="navbar-header">

                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
           

                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <button class="btn btn-primary btn-sm" data-target="#loginModal" data-toggle="modal"> Login</button>
                            <div class="modal" id="loginModal">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button class="close" data-dismiss&="modal">&times;</button>
                                        <h4 class="modal-title">login</h4>
                                    </div>  <div class="modal-body">
                                        <form>
                                            <div class="form-group">
                                                <label for="inputUserName">Username</label>
                                                <input class="form-control" placeholder="Login Username" type="text" id="inputUserName" />
                                                <label for="inputUserName">Password</label>
                                                <input class="form-control" placeholder="Login Password" type="text" id="inputPassword" />
                                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Submit</button>
                                            </div>



                                        </form>


                                    </div>

                                </div>

                                <button class="btn btn-primary btn-sm" data-target="#loginModal" data-toggle="modal"> Register</button>
                                <div class="modal" id="registerModal">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button class="close" data-dismiss&="modal">&times;</button>
                                            <h4 class="modal-title">Register</h4>
                                        </div>  <div class="modal-body">
                                            <form>
                                                <div class="form-group">
                                                    <label for="inputUserName">Username</label>
                                                    <input class="form-control" placeholder="Login Username" type="text" id="inputNewUserName" />
                                                    <label for="inputUserName">Password</label>
                                                    <input class="form-control" placeholder="Login Password" type="text" id="inputNewPassword" />
                                                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Submit</button>
                                                </div>



                                            </form>


                                        </div>

                                    </div>


                                    <ul class="nav navbar-nav">
                                        <li></li>
                                    </ul>
                                </div>


                                </nav>
</head>
    </div>
    </div>
    </div>
    </nav>
    <partial name="_CookieConsentPartial" />
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand">Navbar</a>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>        <div class="container body-content">

        @RenderBody()

        <hr />
        <footer>
            <p>&copy; 2020 - CobraMotors</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true">https://res.cloudinary.com/dcmdigkqy/image/upload/v1594547922/IMG_1214_oggiyu.jpg





</script>
    </environment>

</body>
@RenderSection("Scripts", required: false)
</html>
