@page
@model CobraMotors.Pages.Contact.IndexModel
@{ViewData["Title"] = "Sell Product";
}
<h1 class="text-main">
    Contact Us

</h1>

<h3>
    <div>
   Phone Number: 956-893-3144
        </div>
    <div>

        Hours of Operation: (9:00am-5:00pm U.S Central Time)
    </div>
    </h3>